
.sideBar {
    -fx-background-color:#23807C;
}

.buttonFilter {
    -fx-background-color:#F4F1EB;
    -fx-background-radius:15px;
        
}

.buttonBookingKelas {
    -fx-background-color:#F4F1EB;
    -fx-background-radius:15px;
        
}

.dashboardButton {
     -fx-background-color:transparent;
}

.jadwalButton {
     -fx-background-color:transparent;
}

.daftarPenggunaButton {
     -fx-background-color:transparent;
}

.ruanganButton {
     -fx-background-color:transparent;
}
.paneJadwal {
       -fx-background-color:#E5E3DF;
}
.paneTable {
       -fx-background-color:#FFFFFF;
}